
  .md-tabs .nav-item {
    width: calc(100% / 3);
}
.panel {
    background-color: #fff;
    border: 1px solid #4680ff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.user-title h2 {
    color: #000;
    text-shadow:none;
}