<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Attendance Summary'">
      <div class="row" style="margin-bottom:15px;">
        <div class="col-md-3">
          <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
          <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
        </div>
        <div class="col-md-4">
          <div class="progress form-group" *ngIf="progress > 0">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
              {{progress}}%
            </div>
          </div>
          <div class="form-group" *ngIf="message">
            <div class="alert-success">
              <strong>{{message}}</strong>
            </div>
           
          </div>
          <!--<span class="upload" *ngIf="progress > 0">
            {{progress}}%
          </span>-->
          <!--<span class="upload" *ngIf="message">
            {{message}}
          </span>-->
        </div>
      </div>
      </app-card>
    </div>
  </div>
