<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Employees Attendance'">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Employee Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employees">
            <td>{{emp.employeeName}}</td>
            <td>
              <a href="javascript:;" ngbTooltip="View Attendance" (click)="viewAttendance(emp.userId)"
                 class="crm-action-delete text-c-blue">
                <i class="icofont icofont-file-document"></i>
              </a>

            </td>
          </tr>
        </tbody>
      </table>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Employee Attendance Summary'">
      <form>
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label for="month">Month:</label>
              <div class="form-line">
                <select [(ngModel)]="empSal.month" name="month" title="Month" style="padding:0.5rem 1.75rem 4px 9px;">
                  <option *ngFor="let month of months" [value]="month.id">
                    {{month.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="year">Year:</label>
              <div class="form-line">
                <select [(ngModel)]="empSal.year" name="year" title="Year" style="padding:0.5rem 4.75rem 4px 9px;">
                  <option *ngFor="let year of years" [value]="year">
                    {{year}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-sm btn-primary waves-effect" (click)='allEmpAttSummary()'>
            Save All Employee AttendanceSummary
          </button>
        </div>
      </form>

    </app-card>
    </div>
    </div>

