<div style="    background: url(/assets/images/a4techheader.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 370px;
    width: 100%;">
  &nbsp;
</div>

<div class="row">
  <div class="col-md-12">
    <app-card>
      <div class="row panel-heading bg-primary">Job Vacancy</div>
      <br />
      <br />
      <div class="col-md-12 ">
        <app-card>
          <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6">
              <div  style="text-align: right;">
                <label>
                  Search:
                  <input type="search" [(ngModel)]="filter.name" class="form-control input-sm full-data-search"
                         placeholder="Search name" (input)="onChange()">

                </label>
               
                    <button type="button" class="btn btn-sm btn-primary waves-effect" (click)="resetFilter()">Reset</button>
                  
                </div>
              </div>
          </div>
          </app-card>
          <!--<div class="row panels-wells bg-info">Job Application Form </div>-->
          <br />
          <app-card>
            <div class="table-responsive">
              <table class="table css-serial">
                <thead>
                  <tr>
                    <th>Sr.</th>
                    <th data-priority="1">Job Title</th>
                    <th data-priority="2">Location</th>
                    <th data-priority="3">Experience</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vacancy of jobVacancyModel">
                    <td>&nbsp;</td>
                    <td>{{vacancy.jobTitle}}</td>
                    <td>{{vacancy.jobLocation}}</td>
                    <td>{{vacancy.experience}}</td>
                    <td class="action-icon">
                      <button class="btn btn-primary btn-sm waves-effect" (click)="applyJob(vacancy.id)" type="submit" [routerLink]="['/candidate/login']">
                        APPLY
                        NOW
                      </button>
                    </td>
                  </tr>

                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
          </app-card>
          <br />
          <br />

      </div>
    </app-card>
  </div>
</div>






