<div>
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Select Time">
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <p class="text-c-blue">13-07-2018</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="HH:MM">
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group">
              <p class="text-c-blue">to</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="HH:MM">

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <p class="text-c-blue">14-07-2018</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="HH:MM">
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group">
              <p class="text-c-blue">to</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="HH:MM">
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-3">
            <div class="form-group">
              <p class="text-c-blue">15-07-2018</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="HH:MM">
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group">
              <p class="text-c-blue">to</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="HH:MM">
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>