<!-- Start::app-sidebar -->
<aside class="app-sidebar sticky" id="sidebar">

  <!-- Start::main-sidebar-header -->
  <div class="main-sidebar-header">
    <a routerLink="/dashboards/sales" class="header-logo">
      <img src="./assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
      <img src="./assets/images/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark">
      <img src="./assets/images/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark">
      <img src="./assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
    </a>
  </div>
  <!-- End::main-sidebar-header -->

  <!-- Start::main-sidebar -->
  <overlay-scrollbars class="main-sidebar" id="sidebar-scroll">

    <!-- Start::nav -->
    <nav class="main-menu-container nav nav-pills flex-column sub-open">
      <div class="slide-left" id="slide-left" (click)="leftArrowFn()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
          <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
        </svg>
      </div>
      <ul class="main-menu" [ngStyle]="{ display: 'block' }">
        @for (menuItem of menuItems; track menuItem) {
        <li class="slide" #activeMenuItems [ngClass]="{
              slide__category: menuItem.headTitle,
              'slide has-sub': menuItem.title,
              'open': menuItem.active,
              'active': menuItem.selected
            }">
          <!-- head title  -->
          @if(menuItem.headTitle){
          <span class="category-name">{{ menuItem.headTitle }}</span>
          }
          <!-- has-Link -->
          @if (menuItem.type === 'link') {
          <a class="side-menu__item" [routerLink]="!menuItem.type ? null : [menuItem.path]" routerLinkActive="active"
            (click)="setNavActive($event, menuItem.path ?? '')">
            @if (menuItem.icon) {
            <span class="iconclick" [appSvgReplace]="menuItem.icon"></span>
            }
            <span class="side-menu__label">{{ menuItem.title }}
              <span class="badge bg-{{ menuItem.badgeClass }}">{{menuItem.badgeValue}}</span>
            </span>
          </a>
          }
          <!-- has-empty -->
          @if (menuItem.type === 'empty') {
          <a class="side-menu__item" href="javascript:;" (click)="setNavActive($event, menuItem.path ?? '')">
            @if (menuItem.icon) {
            <span class="iconclick" [appSvgReplace]="menuItem.icon"></span>
            }
            <span class="side-menu__label">{{ menuItem.title }}
              <span class="badge bg-warning ms-2">hot</span>
            </span>
          </a>
          }
          <!-- has-Sub -->
          @if (menuItem.type === 'sub') {
          <a class="side-menu__item" [routerLink]="menuItem.type ? null: [menuItem.path]"
            [ngClass]="{active: menuItem.selected}" (click)="toggleNavActive($event, menuItem, undefined, true)">
            @if (menuItem.icon) {
            <span class="iconclick" [appSvgReplace]="menuItem.icon"></span>
            }
            <span class="side-menu__label">{{menuItem.title}}
              </span>
            <i class="fe fe-chevron-right side-menu__angle"></i>
          </a>
          }
          @if (menuItem.children) {
            <ul
            class="slide-menu child1 "
            [ngClass]="{
              'active': menuItem.active,
              'double-menu-active': menuItem.active,
              'force-left': menuItem.dirchange
            }"
            [ngStyle]="{ display: menuItem.active ? 'block' : 'none' }"
          >
            <li class="slide side-menu__label1">
              <a href="javascript:void(0)">
                {{ menuItem.title }}

              </a>
            </li>
            @for (childrenItem of menuItem.children; track childrenItem) {
            <li
              class="slide"
              [ngClass]="{ 'active': childrenItem.selected }"
              appDropdownPosition
              [ngClass]="{
                open: childrenItem.active,
                'has-sub': childrenItem.type === 'sub',
                'active': childrenItem.selected
              }"
            >
              <!-- link -->
              @if (childrenItem.type === 'link') {
              <a
                class="side-menu__item"
                [routerLink]="!childrenItem.type ? null : [childrenItem.path]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="setNavActive($event, childrenItem.path ?? '')"
              >
              @if (childrenItem.subIcon) {
                <span class="iconclick" [appSvgReplace]="childrenItem.subIcon"></span>
                }
                {{ childrenItem.title }} <span class="badge {{childrenItem.badgeClass}} ms-2">{{childrenItem.badgeValue}}</span>
              </a>
              }
              <!-- empty -->
              @if (childrenItem.type === 'empty' ) {
              <a
                class="side-menu__item"
                (click)="setNavActive($event, childrenItem.path ?? '')"
              >
              @if (childrenItem.subIcon) {
                <span class="iconclick" [appSvgReplace]="childrenItem.subIcon"></span>
                }
                {{ childrenItem.title }}
              </a>
              }
              <!-- sub -->
              @if (childrenItem.type === 'sub') {
              <a
                class="side-menu__item"
                [ngClass]="{ 'active': childrenItem.selected }"
                [routerLink]="childrenItem.type ? null : [childrenItem.path]"
                (click)="toggleNavActive($event, childrenItem)"
              >
              @if (childrenItem.subIcon) {
                <span class="iconclick" [appSvgReplace]="childrenItem.subIcon"></span>
                }
                <span class="">{{ childrenItem.title }}</span><span class="badge {{childrenItem.badgeClass}} ms-2">{{childrenItem.badgeValue}}</span>
                <i class="ri-arrow-right-s-line side-menu__angle"></i>
              </a>
              }
              <!-- 3rd Level menu -->
              @if (childrenItem.children) {
              <ul
                class="slide-menu child2"
                [ngClass]="{ 'force-left': childrenItem.dirchange }"
                [ngStyle]="{display: childrenItem.active ? 'block' : 'none',}">
                @for (childrenSubItem of childrenItem.children; track
                childrenSubItem) {
                <li class="slide"
                  appDropdownPosition
                  [ngClass]="{
                    open: childrenSubItem.active,
                    'has-sub': childrenSubItem.type === 'sub',
                    active: childrenSubItem.selected
                  }">
                  @if (childrenSubItem.type === 'link') {
                  <a class="side-menu__item"
                    routerLinkActive="active"
                    [routerLink]="!childrenSubItem.type ? null : [childrenSubItem.path]"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="setNavActive($event, childrenSubItem.path ?? '')"
                  >
                    {{ childrenSubItem.title }}
                  </a>
                  }
                  @if (childrenSubItem.type === 'empty') {
                  <a class="side-menu__item">
                    {{ childrenSubItem.title }}
                  </a>
                  }
                  @if (childrenSubItem.type === 'sub') {
                  <a
                    class="side-menu__item"
                    [ngClass]="{ active: childrenSubItem.selected }"
                    [routerLink]="childrenSubItem.type ? null : [childrenSubItem.path]"
                    (click)="toggleNavActive($event, childrenSubItem)">
                    <span class="">{{ childrenSubItem.title }}</span>
                    <i class="ri-arrow-right-s-line side-menu__angle"></i>
                  </a>
                  }
                  <!-- 3rd Level menu -->
                  @if (childrenSubItem.children) {
                  <ul
                    class="slide-menu child3"
                    [ngClass]="{ 'force-left': childrenItem.dirchange }"
                    [ngStyle]="{display: childrenSubItem.active ? 'block' : 'none',}">
                    @for (childrenSubItem1 of childrenSubItem.children; track
                    childrenSubItem1) {
                    <li class="slide" [ngClass]="{ open: childrenSubItem1.active }">
                      @if (childrenSubItem1.type === 'link') {
                      <a class="side-menu__item"
                        routerLinkActive="active"
                        [routerLink]=" !childrenSubItem1.type ? null : [childrenSubItem1.path]" [routerLinkActiveOptions]="{ exact: true }">
                        <span class="badge {{childrenItem.badgeClass}} ms-2">{{childrenItem.badgeValue}}</span>
                        {{ childrenSubItem1.title }}
                      </a>
                      }
                       @if (childrenSubItem1.type === 'empty') {
                      <a class="side-menu__item"> {{ childrenSubItem1.title }} </a>
                      }
                    </li>
                    }
                  </ul>
                  }
                </li>
                }
              </ul>
              }
            </li>
            }
          </ul>
          }
        </li>
        @if (menuItem.type === 'external') {
        <a class="side-menu__item" target="_blank" [routerLink]="!menuItem.type ? null : [menuItem.path]"
          routerLinkActive="active" (click)="setNavActive($event, menuItem.path ?? '')">
          @if (menuItem.icon) {
          <i class="side-menu__icon {{ menuItem.icon }}"></i>
          }
          <span class="side-menu__label">{{ menuItem.title }}
            <span class="badge bg-{{ menuItem.badgeClass }} float-end">{{
              menuItem.badgeValue
              }}</span>
          </span>
        </a>
        }
       }
        <!-- End::slide -->
        <li>
          <ul class="slide-menu child1 doublemenu_slide-menu">
            <li class="text-center p-3 text-fixed-white">
              <div class="doublemenu_slide-menu-background">
                <img src="./assets/images/media/backgrounds/13.png" alt="">
              </div>
              <div class="d-flex flex-column align-items-center justify-content-between h-100">
                <div class="fs-15 fw-medium">Dashboard AI Helper</div>
                <div>
                  <span class="avatar avatar-lg p-1">
                    <img src="./assets/images/media/media-80.png" alt="">
                    <span class="top-right"></span>
                    <span class="bottom-right"></span>
                  </span>
                </div>
                <div class="d-grid w-100">
                  <button class="btn btn-light border-0">Try Now</button>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="doublemenu_bottom-menu main-menu mb-0 border-top">
        <!-- Start::slide -->
        <li class="slide">
          <a href="javascript:void(0);" class="side-menu__item layout-setting-doublemenu">
            <span class="light-layout" (click)="updateTheme('dark')">
              <!-- Start::header-link-icon -->
              <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 256 256">
                <rect width="256" height="256" fill="none" />
                <path d="M108.11,28.11A96.09,96.09,0,0,0,227.89,147.89,96,96,0,1,1,108.11,28.11Z" opacity="0.2" />
                <path d="M108.11,28.11A96.09,96.09,0,0,0,227.89,147.89,96,96,0,1,1,108.11,28.11Z" fill="none"
                  stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
              </svg>
              <!-- End::header-link-icon -->
            </span>
            <span class="dark-layout" (click)="updateTheme('light')">
              <!-- Start::header-link-icon -->
              <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 256 256">
                <rect width="256" height="256" fill="none" />
                <circle cx="128" cy="128" r="56" opacity="0.2" />
                <line x1="128" y1="40" x2="128" y2="32" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="16" />
                <circle cx="128" cy="128" r="56" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="16" />
                <line x1="64" y1="64" x2="56" y2="56" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="16" />
                <line x1="64" y1="192" x2="56" y2="200" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="16" />
                <line x1="192" y1="64" x2="200" y2="56" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="16" />
                <line x1="192" y1="192" x2="200" y2="200" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="16" />
                <line x1="40" y1="128" x2="32" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="16" />
                <line x1="128" y1="216" x2="128" y2="224" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="16" />
                <line x1="216" y1="128" x2="224" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="16" />
              </svg>
              <!-- End::header-link-icon -->
            </span>
            <span class="side-menu__label">Theme Settings</span>
          </a>
        </li>
        <!-- End::slide -->
        <!-- Start::slide -->
        <li class="slide">
          <a [routerLink]="['/pages/authentication/sign-in/cover']" class="side-menu__item">
            <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 256 256">
              <rect width="256" height="256" fill="none" />
              <path d="M48,40H208a16,16,0,0,1,16,16V200a16,16,0,0,1-16,16H48a0,0,0,0,1,0,0V40A0,0,0,0,1,48,40Z"
                opacity="0.2" />
              <polyline points="112 40 48 40 48 216 112 216" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16" />
              <line x1="112" y1="128" x2="224" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16" />
              <polyline points="184 88 224 128 184 168" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16" />
            </svg>
            <span class="side-menu__label">Logout</span>
          </a>
        </li>
        <!-- End::slide -->
        <!-- Start::slide -->
        <li class="slide">
          <a [routerLink]="['/pages/profile-settings']" class="side-menu__item">
            <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 256 256">
              <rect width="256" height="256" fill="none" />
              <path
                d="M205.31,71.08a16,16,0,0,1-20.39-20.39A96,96,0,0,0,63.8,199.38h0A72,72,0,0,1,128,160a40,40,0,1,1,40-40,40,40,0,0,1-40,40,72,72,0,0,1,64.2,39.37A96,96,0,0,0,205.31,71.08Z"
                opacity="0.2" />
              <line x1="200" y1="40" x2="200" y2="28" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16" />
              <circle cx="200" cy="56" r="16" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16" />
              <line x1="186.14" y1="48" x2="175.75" y2="42" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16" />
              <line x1="186.14" y1="64" x2="175.75" y2="70" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16" />
              <line x1="200" y1="72" x2="200" y2="84" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16" />
              <line x1="213.86" y1="64" x2="224.25" y2="70" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16" />
              <line x1="213.86" y1="48" x2="224.25" y2="42" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16" />
              <circle cx="128" cy="120" r="40" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16" />
              <path d="M63.8,199.37a72,72,0,0,1,128.4,0" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16" />
              <path d="M222.67,112A95.92,95.92,0,1,1,144,33.33" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16" />
            </svg>
            <span class="side-menu__label">Profile Settings</span>
          </a>
        </li>
        <!-- End::slide -->
        <!-- Start::slide -->
        <li class="slide">
          <a [routerLink]="['/pages/profile']" class="side-menu__item p-1 rounded-circle mb-0">
            <span class="avatar avatar-md avatar-rounded">
              <img src="./assets/images/faces/10.jpg" alt="">
            </span>
          </a>
        </li>
        <!-- End::slide -->
      </ul>
      <div (click)="rightArrowFn()" class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg"
          fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
        </svg></div>
    </nav>
    <!-- End::nav -->

  </overlay-scrollbars>
  <!-- End::main-sidebar -->

</aside>
<!-- End::app-sidebar -->
