<form class="form-horizontal" name="ratingInfoForm" #ratingInfoForm="ngForm" (ngSubmit)="saveRating()">
  <div>
    <br />
    <div class="card">
      <div class="card-header">
        <h5 class="card-header-text">Employee Feedback</h5>
      </div>
      <div class="card-block table-border-style">
        <div class="table-responsive">
          <table class="table table-styling">
            <thead>
              <tr>
                <th>Organisational Behaviour</th>
                <th>Subject Matter Expertise</th>
                <th>Team Work</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Overall good</td>
                <td>good</td>
                <td>good</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="rating.checkSaveSubmit.enableMidYear">
      <div class="card-header">
        <div class="card-header-left">
          <h5>Mid Year Review Rating</h5>
        </div>
      </div>
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel title="Review & Rating">
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                <h5 class="col-blue-grey">Mid Year Rating</h5>
                <br />
                <div *ngFor="let rate of rating.ratingList">
                  <input type="radio" class="form-control" name="ratings"
                    [checked]="rate.ratingId === rating.endYearRating.ratingId" [value]="rate.ratingId"
                    (change)="onMidYearRatingSelectionChange(rate.ratingId)"
                    [disabled]="rating.checkSaveSubmit.isMgrRatingSubmit"><span>{{rate.ratingName}}</span><br />
                </div>
              </div>
              <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12">
                <textarea name="managerComments" placeholder="Manager Comments" class="form-control" rows="3"
                  [(ngModel)]="rating.midYearRating.managerComment"
                  [disabled]="rating.checkSaveSubmit.isMgrRatingSubmit"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12">
                <input type="text" name="managerName" placeholder="Manager Name" class="form-control"
                  [ngModel]="rating.midYearRating.managerSignature" disabled>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Employee Comments">
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col-md-12">
                <textarea name="employeeComments" placeholder="Employee Comments" class="form-control" rows="3"
                  #employeeComments="ngModel" [ngModel]="rating.midYearRating.employeeComment" disabled></textarea>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>Year End Review Rating</h5>
        </div>
      </div>
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel title="Review & Rating">
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                <h5 class="col-blue-grey">Year End Rating</h5>
                <br />
                <div *ngFor="let rate of rating.ratingList;let i = index">
                  <input type="radio" class="form-control" name="ratings"
                    [checked]="rate.ratingId === rating.endYearRating.ratingId" [value]="rate.ratingId"
                    (change)="onYearRatingSelectionChange(rate.ratingId)"
                    [disabled]="rating.checkSaveSubmit.isMgrYearRatingSubmit"><span>{{rate.ratingName}}</span><br />
                </div>
              </div>
              <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12">
                <textarea name="managerCommentsYear" placeholder="Manager Comments" class="form-control" rows="3"
                  [(ngModel)]="rating.endYearRating.managerComment"
                  [disabled]="rating.checkSaveSubmit.isMgrYearRatingSubmit"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12">
                <input type="text" name="managerNameYear" placeholder="Manager Name" class="form-control"
                  #managerNameYear="ngModel" [ngModel]="rating.endYearRating.managerSignature" disabled>

              </div>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Employee Comments">
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col-md-12">
                <textarea name="employeeCommentsYear" placeholder="Employee Comments" class="form-control" rows="3"
                  #employeeCommentsYear="ngModel" [ngModel]="rating.endYearRating.employeeComment" disabled></textarea>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
  <div *ngIf="rating.checkSaveSubmit.enableMidYear && !rating.checkSaveSubmit.isMidYearReviewCompleted; else yearGoal ">
    <button class="btn btn-sm btn-primary waves-effect" type="submit" [disabled]="ratingInfoForm.invalid"
      *ngIf="!rating.checkSaveSubmit.isMgrRatingSubmit">{{isSaving
      ? ('Please wait...'):('Save')}}</button>
    <button class="btn btn-sm btn-primary waves-effect" type="button" [disabled]="ratingInfoForm.invalid"
      (click)="submitRating()"
      *ngIf="rating.checkSaveSubmit.isMgrRatingSave && !rating.checkSaveSubmit.isMgrRatingSubmit">{{isSubmitting?('Please
      wait...'):('Submit')}}</button>
  </div>
  <ng-template #yearGoal>
    <button class="btn btn-sm btn-primary waves-effect" type="submit" [disabled]="ratingInfoForm.invalid"
      *ngIf="!rating.checkSaveSubmit.isMgrYearRatingSubmit">{{isSaving
      ? ('Please wait...'):('Save')}}</button>
    <button class="btn btn-sm btn-primary waves-effect" type="button" [disabled]="ratingInfoForm.invalid"
      (click)="submitRating()"
      *ngIf="rating.checkSaveSubmit.isMgrYearRatingSave && !rating.checkSaveSubmit.isMgrYearRatingSubmit">{{isSubmitting?('Please
      wait...'):('Submit')}}</button>
  </ng-template>
</form>