<div class="row">
  <div class="col-lg-12">
    <div class="md-tabs">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-9">
              <h5 class="card-header-text">Applicant Info</h5>
            </div>
            <div class="col-md-3">
              
                <a *ngIf="resumeUrl!=''" target="_blank" class="label label-primary" href="{{resumeUrl}}">
                  <i class="ti-download" aria-hidden="true"> Resume</i>
                </a>
              
              
              
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="view-info">
            <div class="row">
              <div class="col-lg-12">
                <div class="general-info">
                  <div class="row">
                    <div class="col-lg-12 col-xl-12">
                      <div class="table-responsive">
                        <table class="table m-0">
                          <tbody>
                            <tr>
                              <th scope="row">Candidate Name</th>
                              <td>{{applicantName}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Candidate Mobile Number</th>
                              <td>{{applicantMobileNumber}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    
                  </div>
                  <!-- end of row -->
                </div>
                <!-- end of general info -->
              </div>
              <!-- end of col-lg-12 -->
            </div>
            <!-- end of row -->
          </div>
        </div>
        <!-- end of card-body -->
      </div>
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-9">
              <h5 class="card-header-text">Job Info</h5>
            </div>
            <div class="col-md-3">
              <button title="Proceed to interview" *ngIf="isStatusButton" class="btn btn-success btn-icon"
                      (click)="hrKpi()">
                <i class="ti-thumb-up"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="view-info">
            <div class="row">
              <div class="col-lg-12">
                <div class="general-info">
                  <div class="row">
                    <div class="col-lg-12 col-xl-6">
                      <div class="table-responsive">
                        <table class="table m-0">
                          <tbody>
                            <tr>
                              <th scope="row">Job Title</th>
                              <td>{{jobInfoModel.jobInformationModel.jobTitle}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Application Type</th>
                              <td>{{jobInfoModel.jobInformationModel.applicationType}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-lg-12 col-xl-6">
                      <div class="table-responsive">
                        <table class="table">
                          <tbody>
                            <tr>
                              <th scope="row">Date Of Application</th>
                              <td>{{jobInfoModel.jobInformationModel.appliedDate| date: 'dd/MM/yyyy'}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Current Status</th>
                              <td>
                                <label class="label label-danger">{{jobInfoModel.jobInformationModel.jobStatus}}</label>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- end of row -->
                </div>
                <!-- end of general info -->
              </div>
              <!-- end of col-lg-12 -->
            </div>
            <!-- end of row -->
          </div>
        </div>
        <!-- end of card-body -->
      </div>
      <interview-schedule-list #interviewListEditor [status]="isStatusButton" [appId]="jobId" [jobStatus]="jobInfoModel.jobInformationModel.jobStatus" ></interview-schedule-list>
      <div class="row">
        <div class="col-lg-12">
          <app-card [title]="'Question & Answer'">
            <div class="row">
              <div class="col-lg-12 col-xl-12">

                <ngb-tabset>
                  <ngb-tab title="Screening">
                    <ng-template ngbTabContent>
                      <div [@fadeInOutTranslate] class="m-t-15">

                        <div class="form-group">
                          <div *ngFor="let screening of screeningModel">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-12">
                                  <h6> {{screening.question}}</h6>
                                </div>
                                <div class="col-md-4">
                                  <p class="d-inline-block m-r-10 ">Obtained Weightage:</p>
                                  <span class="label bg-c-blue">{{screening.obtainedWeightage}}%</span>
                                </div>
                                <div class="col-md-4">
                                  <p class="d-inline-block m-r-10 ">Weightage:</p>
                                  <span class="label bg-c-pink">{{screening.weightage}}%</span>
                                </div>
                              </div>
                            </div>
                            <hr />
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="HR KPI">
                    <ng-template ngbTabContent>
                      <div [@fadeInOutTranslate] class="m-t-15">
                        <div class="form-group">
                          <div *ngFor="let hrKpi of hrKpiModel">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-12">
                                  <h6> {{hrKpi.question}}</h6>
                                </div>
                                <div class="col-md-4">
                                  <p class="d-inline-block m-r-10 ">Obtained Weightage:</p>
                                  <span class="label bg-c-blue">{{hrKpi.obtainedWeightage}}%</span>
                                </div>
                                <div class="col-md-4">
                                  <p class="d-inline-block m-r-10 ">Weightage:</p>
                                  <span class="label bg-c-pink">{{hrKpi.weightage}}%</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>

                </ngb-tabset>
              </div>
            </div>
          </app-card>
        </div>
      </div>
    </div>
  </div>
</div>
<hr-assessment [appId]="jobId" #hrKpiEditor></hr-assessment>
