<form-wizard>
  <wizard-step [title]="'EMPLOYEE DETAILS'">
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="dt-responsive">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-sm-6 col-md-6">
              <h5>EMPLOYEE DETAILS</h5>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-6 col-md-6">
              <button type="button" (click)="addFeedback()" class="btn btn-sm btn-primary waves-effect f-right">Get
                External Feedback</button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-sm-4 col-md-4">
              <h5 class="text-c-blue">Employee Name : {{employeeDetail.name}}</h5>
            </div>
            <div class="col-xs-4 col-sm-4 col-sm-4 col-md-4">

              <h5 class="text-c-blue">Functional Department : {{employeeDetail.functionalDepartment}}</h5>
            </div>
            <div class="col-xs-4 col-sm-4 col-sm-4 col-md-4">
              <h5 class="text-c-blue">Functional Group : {{employeeDetail.functionalGroup}}</h5>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-sm-4 col-md-4">
              <h5 class="text-c-blue">Date Of Review : {{employeeDetail.dateReview}}</h5>
            </div>
            <div class="col-xs-4 col-sm-4 col-sm-4 col-md-4">
              <h5 class="text-c-blue">Evaluator Name : {{employeeDetail.evaluatorName}}</h5>
            </div>
            <div class="col-xs-4 col-sm-4 col-sm-4 col-md-4">
              <h5 class="text-c-blue">Title : {{employeeDetail.title}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </wizard-step>
  <wizard-step [title]="'PERFORMANCE GOAL'">
    <br>
    <review-performance-goal></review-performance-goal>
  </wizard-step>
  <wizard-step [title]="'TRAINNING & CLASSES'">
    <br>
    <review-training-classes></review-training-classes>
  </wizard-step>
  <wizard-step [title]="'DEVELOPMENT PLAN'">
    <br>
    <review-development-plan></review-development-plan>
  </wizard-step>
  <wizard-step [title]="'REVIEW RATING'">
    <review-review-rating></review-review-rating>
  </wizard-step>
</form-wizard>