<div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Review Goal'">
        <div class="dt-responsive">
          <div class="col-xs-6 col-sm-6 col-sm-6 col-md-6">
            <select class="form-control">
              <option value="">----Select----</option>
              <option value="10">Direct</option>
              <option value="20">Indirect</option>
            </select>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
              <div>
                <label class="label-control">Show
                  <select class="form-control input-sm full-data-show-entry" (ngModelChange)="getFilteredData($event)" [(ngModel)]="pageSize" (ngModelChange)="getData($event)">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div style="text-align: right;">
                <label>Search:
                  <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                </label>
              </div>
            </div>
          </div>
  
          <ngx-datatable class="data-table material"   [externalPaging]="true"
          [count]="count"
          (page)='setPage($event)'
          [offset]="pageNumber"
          [limit]="pageSize"
         [loadingIndicator]="loadingIndicator" [rows]="rows" [rowHeight]="35" [headerHeight]="50"
            [footerHeight]="35" [columns]="columns"  [columnMode]="'force'">
          </ngx-datatable>
  
          <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
              <td class="action-icon">
                <a href="javascript:;" (click)="viewReview(row.id)">
                  <i class="icofont icofont-eye"></i>
                  <!-- [routerLink]="['../recruitment/candidate-list']" [queryParams]="{id:job.jobId}"  (click)="viewReview(row.id)" -->
                </a>
              </td>
          </ng-template>
        </div>
      </app-card>
    </div>
  </div>