<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Shortlisted Candidate List'">
      <div class="dt-responsive">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
            <div>
              <label class="label-control">Show
                <select class="form-control input-sm full-data-show-entry" [(ngModel)]="pageSize" (ngModelChange)="getData($event)">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
                entries
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div style="text-align: right;">
              <label>Search:
                <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name" (ngModelChange)="getFilteredData($event)">
              </label>
            </div>
          </div>
        </div>
        <ngx-datatable class="data-table material" [externalPaging]="true" [count]="count" (page)='setPage($event)' [offset]="pageNumber"
          [limit]="pageSize" [loadingIndicator]="loadingIndicator" [rows]="rows" [rowHeight]="35" [headerHeight]="50" [footerHeight]="35"
          [columns]="columns" [columnMode]="'force'">
        </ngx-datatable>

        <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
          <td class="action-icon">
            <a href="javascript:;" (click)="getCandidateDetail(row.interviewId)" class="m-r-15 crm-action-edit text-muted text-primary">
              <i class="icofont icofont-eye-alt"></i>
            </a>

           
          </td>

        </ng-template>
        <ng-template #interviewDateTemplate let-row="row" let-value="value" let-i="index">
            <td class="action-icon">
              {{row.interviewDate | date: 'dd/MM/yyyy'}}
            </td>
          </ng-template>
        <ng-template #resumeTemplate let-row="row" let-value="value" let-i="index">
            <td class="action-icon">
                <a *ngIf="row.resume!=''" target="_blank"  class="btn btn-primary btn-icon"  href="{{row.resume}}"><i class="icofont icofont-download" aria-hidden="true"></i></a>
            </td>
          </ng-template>
      </div>
    </app-card>
  </div>
</div>
