<div [formGroup]="screeningQuestionForm">
  <div class="well">
    <button type="button" class="close basic-close pull-right"
      (click)="removeSkillQuestion(screeningQuestionForm.controls.id.value)">
      <span aria-hidden="true"><i _ngcontent-c11="" class="icofont icofont-ui-delete"></i></span>
    </button>

    <div class="row">
      <div class="col-sm-6">
        <label class="col-form-label">Question</label>
        <textarea type="text" class="form-control" formControlName="question" required></textarea>
        <div [hidden]="screeningQuestionForm.controls.question.valid" class="text-danger">
          Question is required
        </div>
      </div>
      <div class="col-sm-6">
        <label class="col-form-label">Weightage</label>
        <input type="number" class="form-control" formControlName="weightage" required>
        <div [hidden]="screeningQuestionForm.controls.weightage.valid" class="text-danger">
          Weightage is required
        </div><br>
        <label class="col-form-label">Interview Level</label>
        <ng-select name="level" style="background:#fff;" [multiple]="true" placeholder="Interview Level"
          [options]="levelList" formControlName="levelIdList" required> </ng-select>
        <div [hidden]="screeningQuestionForm.controls.levelIdList.valid" class="text-danger">
          *Required
        </div>
      </div>

      <div class="col-sm-2">

      </div>
    </div>
  </div>
</div>