::ng-deep{
  .btn-main-primary {
      color: #fff !important;
      background-color: #5965f9 !important;
      border-color: #5965f9 !important;
  }
}
.main-signin-header .form-control {

border-width: 1px;
}

