<form class="form-horizontal" name="interviewTypeInfoForm" #interviewTypeInfoForm="ngForm" (ngSubmit)="save()">
  <app-modal-basic #editorModal [dialogClass]="'modal-default'">
    <div class="app-modal-header">
      <h4 class="modal-title">{{modalTitle}} Interview Type</h4>
      <button type="button" class="close basic-close" (click)="editorModal.hide()">

        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="app-modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Job Type Name
            <input autofocus type="text" name="interviewTypeName" placeholder="Interview Type Name"
              pattern="[a-zA-Z](.*[a-zA-Z0-9 ])?$" [(ngModel)]="interviewTypeEdit.name" #interviewTypeName="ngModel"
              class="form-control" required>
            <span *ngIf="interviewTypeName.errors">
              <span class="messages text-danger" *ngIf="interviewTypeName.errors.required">Please enter interview
                type</span>
              <span class="messages text-danger" *ngIf="interviewTypeName.errors.pattern">Only alphanumerics are
                allowed</span>
            </span>
          </p>
        </div>

      </div>

    </div>

    <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="editorModal.hide()">Close</button>
      <button type="submit" [disabled]="!interviewTypeInfoForm.form.valid"
        class="btn btn-primary waves-effect waves-light ">
        {{isSaving ? 'Saving in...' : 'Save'}}</button>
    </div>
  </app-modal-basic>
</form>