<div class="row">
  <div class="col-sm-12">
    <div class="col-xs-4 col-sm-4 col-sm-4 col-md-4">
      <h5 class="text">View Booking Detail</h5>
    </div>
    <br>
    <app-card>
      <div class="dt-responsive">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-sm-4 col-md-4">
            <p>Item
              <ng-select [disabled]="true" name="item" placeholder="Item" [options]="itemList"
                [(ngModel)]="requestEdit.subCategoryItemId" #item="ngModel"> </ng-select>
            </p>
          </div>
          <div class="col-xs-4 col-sm-4 col-sm-4 col-md-4">
            <p>From Date
              <input type="date" [disabled]="true" class="form-control" name="fromDate" placeholder="From Date"
                [ngModel]="requestEdit.fromDate | date:'yyyy-MM-dd'" [value]="requestEdit.fromDate | date:'yyyy-MM-dd'"
                #fromDate="ngModel" (ngModelChange)="requestEdit.fromDate = ($event)">
            </p>
          </div>
          <div class="col-xs-4 col-sm-4 col-sm-4 col-md-4">
            <p>To Date
              <input type="date" [disabled]="true" class="form-control" name="toDate" placeholder="To Date"
                [ngModel]="requestEdit.toDate | date:'yyyy-MM-dd'" [value]="requestEdit.toDate | date:'yyyy-MM-dd'"
                #toDate="ngModel" (ngModelChange)="requestEdit.toDate = ($event)">
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-sm-4 col-md-4">
            <p>Amount
              <input autofocus type="text" [disabled]="true" name="amount" placeholder="Amount"
                [(ngModel)]="requestEdit.amount" #amount="ngModel" class="form-control">
            </p>
          </div>
          <div class="col-xs-4 col-sm-4 col-sm-4 col-md-4">
            <p>Functional Department
              <ng-select name="department" [disabled]="true" placeholder="Department" [options]="departmentList"
                [(ngModel)]="requestEdit.departmentId" #department="ngModel"> </ng-select>
            </p>
          </div>
        </div>
      </div>

    </app-card>
  </div>
</div>
<div class="row" *ngIf="requestEdit?.expenseBookingDetail?.length >0">
  <!-- Multiple Open Accordion start -->
  <div class="col-lg-12">
    <app-card [title]="'Remarks'" [blockClass]="'accordion-block scale-accordion'">
      <squeezebox [multiple]="false">
        <sb-item class="accordion-panel" *ngFor="let commentData of requestEdit.expenseBookingDetail; let i=index">
          <sb-item-head class="accordion-heading accordion-msg project-task">
            <div class="clearfix task-contain">
              <h6 class="bg-c-blue d-inline-block text-center"> L{{commentData.level+1}} </h6>
              <span class="d-inline-block m-l-20">{{commentData.name}} </span>
              <span *ngIf="commentData.status=='Approved'" class="f-right label bg-c-green m-l-10 f-10">
                {{commentData.status}} </span>
              <span *ngIf="commentData.status=='Pending'" class="f-right label bg-c-yellow m-l-10 f-10">
                {{commentData.status}} </span>
              <span *ngIf="commentData.status=='Rejected'" class="f-right label bg-c-pink m-l-10 f-10">
                {{commentData.status}} </span>
            </div>
          </sb-item-head>
          <sb-item-body class="accordion-content">
            <div class="accordion-desc">

              <div class="row" *ngFor="let cooment of commentData.expenseBookingDetailApproverList; let i=index">
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">
                  <p>Employee Remarks
                    <textarea class="form-control" [disabled]="true">{{cooment.employeeComment}}</textarea>

                  </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">
                  <p>Approver Comment
                    <textarea class="form-control" [disabled]="true">{{cooment.managerComment}}</textarea>
                  </p>
                </div>

              </div>
            </div>
            <div *ngFor="let commentInviteData of commentData.expenseBookingIviteApproverList; let i=index">
              <div class="accordion-heading accordion-msg">
                <div class="clearfix">
                  <span> {{commentInviteData.name}} </span>
                  <span *ngIf="commentInviteData.status=='Approved'" class="f-right label bg-c-green m-l-10 f-10">
                    {{commentInviteData.status}} </span>
                  <span *ngIf="commentInviteData.status=='Pending'" class="f-right label bg-c-yellow m-l-10 f-10">
                    {{commentInviteData.status}} </span>
                  <span *ngIf="commentInviteData.status=='Rejected'" class="f-right label bg-c-pink m-l-10 f-10">
                    {{commentInviteData.status}} </span>
                </div>
              </div>
              <div class="accordion-content">
                <div class="accordion-desc">

                  <div class="row"
                    *ngFor="let coomentInvite of commentInviteData.expenseBookingDetailIviteApproverList; let i=index">
                    <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">
                      <p>Employee Remarks
                        <textarea class="form-control" [disabled]="true">{{coomentInvite.employeeComment}}</textarea>
                      </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">
                      <br>
                      <p>Approver Comment
                        <textarea class="form-control" [disabled]="true">{{coomentInvite.managerComment}}</textarea>
                      </p>
                    </div>

                  </div>

                </div>


              </div>
            </div>

          </sb-item-body>
        </sb-item>
      </squeezebox>
    </app-card>
  </div>
</div>
<form name="expenseFormDetail" *ngIf="requestEdit.status=='1'" #expenseFormDetail="ngForm" (ngSubmit)="save()">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-xs-4 col-sm-4 col-sm-4 col-md-4">
        <h5 class="text">Remarks</h5>
      </div>
      <br>
      <app-card>
        <div class="dt-responsive">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">
              <p>Comments
                <input autofocus type="text" required name="remarks" placeholder="Remarks"
                  [(ngModel)]="approveReject.comment" #remarks="ngModel" class="form-control">
                <span [hidden]="remarks.valid" class="messages text-danger">
                  Please enter remarks
                </span>
              </p>
            </div>

          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">
              <div class="f-right m-t-20" *ngIf="requestEdit.isSubmitted == false">
                <button type="button" (click)="onSave(1)" [disabled]="!expenseFormDetail.form.valid"
                  class="btn btn-sm btn-success waves-effect">Approve</button>
                <button type="button" (click)="onSave(2)" [disabled]="!expenseFormDetail.form.valid"
                  class="btn btn-sm btn-danger waves-effect">{{isSubmitting
                ? 'Rejecting...' : 'Reject'}}</button>
                <!-- <button type="button" (click)="onSave(3)" [disabled]="!expenseFormDetail.form.valid"
                  class="btn btn-sm btn-info waves-effect">{{isSubmitting
                  ? 'Submitting...' : 'Resubmit'}}</button> -->
                <button type="button" class="btn btn-sm btn-inverse waves-effect"
                  [routerLink]="['../approve-request']">Back</button>
              </div>
            </div>

          </div>
        </div>

      </app-card>
    </div>
  </div>
</form>