<div class="row">
  <div class="col-md-12">
    <app-card>
      <form #manageCtcForm="ngForm" (ngSubmit)="submitCtc(manageCtcForm)">
        <div class="row panel-heading bg-primary"> Employee Ctc </div>
        <br />
        <div class="row">
          <div class="col-md-6">
            <b>Employee Name:</b> {{employee.employeeName}}
          </div>
          <div class="col-md-6">
            <b>Employee Code:</b>  {{employee.employeeCode}}
          </div>
        </div>
        <br />
        <div class="col-md-12">
          <div class="col-md-12 ">
            <app-card>
              <div class="row panels-wells bg-info"> Yearly Component </div>
              <br />
              <div class="row">
                <label class="col-md-3 row" for="ctc">Ctc:</label>
                <div class="col-md-3 form-line"><input type="number" name="Ctc" id="ctc" [(ngModel)]="empCtc.ctc" class="form-control"></div>
              </div>
              <br />
              <div class="row" *ngFor="let component of yearlyComponents;let i=index">
                <label class="col-md-3 row" for="amount">{{ getComponentName(component.salaryComponentId)}}:</label>
                <!--<div class="col-md-3 form-line"><input type="number" class="form-control" /></div> % &nbsp;-->
                <div class="col-md-3 form-line">
                  <input type="number" name="amount[{{i}}]" id="amount_{{i}}" [(ngModel)]="component.amount" class="form-control">

                </div>
              </div>
            </app-card>
            <br />
            <app-card>
              <div class="row panels-wells bg-info"> Monthly Component </div>
              <br />
              <div class="row">
                <label class="col-md-3 row" for="ctc">Monthly Intake:</label>
                <div class="col-md-3 form-line">{{ getMonthlyIntake() }}</div>
              </div>
              <br />
              <div class="row">
                <label class="col-md-3 row" for="basicSalary">Basic:</label>
                <!--<div class="col-md-3 form-line"><input type="number" class="form-control" /></div> % &nbsp;-->
                <div class="col-md-3 form-line">
                  <input type="number" name="BasicSalary" id="basicSalary" [(ngModel)]="empCtc.basicSalary" class="form-control">
                </div>
              </div>
              <br />
              <div class="row">
                <label class="col-md-3 row" for="da">DA:</label>
                <!--<div class="col-md-3 form-line"><input type="number" class="form-control" /></div> % &nbsp;-->
                <div class="col-md-3 form-line">
                  <input type="number" name="DA" id="da" [(ngModel)]="empCtc.da" class="form-control">
                </div>
              </div>
              <br />
              <div class="row">
                <label class="col-md-3 row" for="hra">HRA:</label>
                <!--<div class="col-md-3 form-line"><input type="number" class="form-control" /></div> % &nbsp;-->
                <div class="col-md-3 form-line">
                  <input type="number" name="HRA" id="hra" [(ngModel)]="empCtc.hra" class="form-control">
                </div>
              </div>
              <br />
              <div class="row">
                <label class="col-md-3 row" for="conveyance">Conveyance:</label>
                <!--<div class="col-md-3 form-line"><input type="number" class="form-control" /></div> % &nbsp;-->
                <div class="col-md-3 form-line">
                  <input type="number" name="Conveyance" id="conveyance" [(ngModel)]="empCtc.conveyance" class="form-control">
                </div>
              </div>
              <br />
              <div class="row">
                <label class="col-md-3 row" for="medicalExpenses">Medical Allowance:</label>
                <!--<div class="col-md-3 form-line"><input type="number" class="form-control" /></div> % &nbsp;-->
                <div class="col-md-3 form-line">
                  <input type="number" name="MedicalExpenses" id="medicalExpenses" [(ngModel)]="empCtc.medicalExpenses" class="form-control">
                </div>
              </div>
              <br />
              <div class="row">
                <label class="col-md-3 row" for="special">Special Allowance:</label>
                <!--<div class="col-md-3 form-line"><input type="number" class="form-control" /></div> % &nbsp;-->
                <div class="col-md-3 form-line">
                  <input type="number" name="Special" id="special" [(ngModel)]="empCtc.special" class="form-control">
                </div>
              </div>
              <br />
              <div class="row">
                <label class="col-md-3 row" for="bonus">Bonus:</label>
                <div class="col-md-3 form-line">
                  <input type="number" name="Bonus" id="bonus" [(ngModel)]="empCtc.bonus" class="form-control">
                </div>
              </div>
              <br />
              <div class="row">
                <label class="col-md-3 row" for="total">Total:</label>
                <!--<div class="col-md-3 form-line"><input type="number" class="form-control" /></div> % &nbsp;-->
                <div class="col-md-3 form-line">
                  <input type="number" name="Total" id="total" [(ngModel)]="empCtc.total" class="form-control">
                  <!--<div class="col-md-3 form-line">{{ getTotal() }}</div>-->
                </div>
              </div>
              <br />
            </app-card>
          </div>
          <div>
            <button class="btn btn-circle btn-success waves-circle waves-effect waves-float" [disabled]="isSubmit" type="submit"> <i class="material-icons">Save</i> </button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>



