<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Employee Attendance'">
      <form>
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label for="month">Month:</label>
              <div class="form-line">
                <select [(ngModel)]="empSal.month" name="month" title="Month" style="padding:0.5rem 1.75rem 4px 9px;">
                  <option *ngFor="let month of months" [value]="month.id">
                    {{month.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="year">Year:</label>
              <div class="form-line">
                <select [(ngModel)]="empSal.year" name="year" title="Year" style="padding:0.5rem 4.75rem 4px 9px;">
                  <option *ngFor="let year of years" [value]="year">
                    {{year}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-sm btn-primary waves-effect" (click)='checkAttendance()'>
            Check Attendance
          </button>
        </div>
      </form>

    </app-card>
    <app-card>
      <div style="width:100%; overflow-x:scroll">

        <table>
          <tr><td><b>Name:</b></td><td>{{employee.employeeName}}</td></tr>
          <tr><td><b>Code:</b></td><td>{{employee.employeeCode}}</td></tr>
          <tr><td></td><td></td></tr>
        </table>
        <table style="width:100%">
          <tr>
            <th style="border-bottom:1px solid;border-left:1px solid;">Date</th>
            <th style="border-bottom:1px solid;border-left:1px solid;">PunchIn</th>
            <th style="border-bottom:1px solid;border-left:1px solid;">PunchOut</th>
            <th style="border-bottom:1px solid;border-left:1px solid;">Duration</th>
          </tr>
          <tbody>
            <tr *ngFor="let date of monthlyAttendence.monthDates;let i=index">
              <td style="border-bottom:1px solid;border-left:1px solid;">{{date.mDate}}<br />{{date.mDay}}</td>
              <td style="border-bottom:1px solid;border-left:1px solid;"> {{GetPunchIn(employee.employeeId,date.mDate)}}</td>
              <td style="border-bottom:1px solid;border-left:1px solid;">{{GetPunchOut(employee.employeeId,date.mDate)}} </td>
              <td style="border-bottom:1px solid;border-left:1px solid;" innerHTML="{{GetDuration(employee.employeeId,date.mDate)}}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>


  </div>
</div>
