<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Schedule List'">
      <div class="dt-responsive">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
            <div>
              <label class="label-control">Show
                <select class="form-control input-sm full-data-show-entry" [(ngModel)]="pageSize"
                  (ngModelChange)="getData($event)">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
                entries
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div style="text-align: right;">
              <label>Search:
                <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search"
                  placeholder="Search name" (ngModelChange)="getFilteredData($event)">
              </label>
              <button type="button" class="btn btn-sm btn-primary waves-effect" (click)="newSchedule()">Add
                Schedule</button>
            </div>
          </div>
        </div>
        <ngx-datatable class="data-table material" [externalPaging]="true" [count]="count" (page)='setPage($event)'
          [offset]="pageNumber" [limit]="pageSize" [loadingIndicator]="loadingIndicator" [rows]="rows" [rowHeight]="35"
          [headerHeight]="50" [footerHeight]="35" [columns]="columns" [columnMode]="'force'">
        </ngx-datatable>

        <ng-template #daysSchedule let-row="row" let-value="value" let-i="index">
          <td class="action-icon">
            <label class="label"
              [ngClass]="{'label-inverse-primary':row.monday == true,'label-inverse-danger':row.monday == false}">Mon</label>
            <label class="label"
              [ngClass]="{'label-inverse-primary':row.tuesday === true,'label-inverse-danger':row.tuesday === false}">Tue</label>
            <label class="label"
              [ngClass]="{'label-inverse-primary':row.wednesday === true,'label-inverse-danger':row.wednesday === false}">Wed</label>
            <label class="label"
              [ngClass]="{'label-inverse-primary':row.thursday === true,'label-inverse-danger':row.thursday === false}">Thus</label>
            <label class="label"
              [ngClass]="{'label-inverse-primary':row.friday === true,'label-inverse-danger':row.friday === false}">Fri</label>
            <label class="label"
              [ngClass]="{'label-inverse-primary':row.saturday === true,'label-inverse-danger':row.saturday === false}">Sat</label>
            <label class="label"
              [ngClass]="{'label-inverse-primary':row.sunday === true,'label-inverse-danger':row.sunday === false}">Sun</label>
          </td>
        </ng-template>
      </div>
    </app-card>
  </div>
</div>
<timesheet-schedule-info #scheduleInfo></timesheet-schedule-info>